<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/css/style.css">
    
    <title>Document</title>
    <style>
      .analysis_l{
            padding: 2vh;
            box-sizing: border-box;
            display: inline-block;

            width: 100%;
            position: relative;
        }
              
    </style>
    
</head>
<body>

  <header>
    <nav>
        <h3>FREELANCE WRITER'S WORKSPACE ANALYSIS TOOL</h3>
    </nav>
</header>
    <a href="/syn"><button class="btn btn-dark"> Antonym/Synonym</button> </a>
    <a href="/summary"><button class="btn btn-warning">Generate Summary</button> </a>
    

    <div class="container">

        <h1 class="mb-4" style="font-family: roboto ">Analysis</h1>

        <div class="analysis_l">
                        
          <p class="lead">Get "scores" of text on the basis of:-
              <br>
              <b>A) 8 emotions defined by psychologist named Plutchik.</b> <br>
              The said emotions are: 'anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', and 'trust'.
              <br><br>
              <b>B) 3 distinguised components of emotions, namely : <br>
              'Valence', 'Arousal', and 'Dominance'</b>
              
              <br> ‣  'Valence': the pleasantness of a stimulus
              <br> ‣  'Arousal': the intensity of emotion provoked by a stimulus
              <br> ‣  'Dominance': the degree of control exerted by a stimulus
          </p>
          
          </div>

      <form action="{{ url_for('score')}}" method="post">
        <div class="form-group">
          <label for="text">Text Here</label>
          <textarea required name="Text" id="text" onkeyup="autoheight(this)" class="form-control"></textarea>

        </div>
          <input button class="btn btn-primary" type="submit">
      </form>

    </div>

<script>
  function autoheight(x) {
    x.style.height = "5px";
    x.style.height = (15+x.scrollHeight)+"px";
  }
</script>
</body>
</html>