<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/analysis"> -> Analysis</a>
    <br>
    <a href="/summary"> -> Generate Summary</a>
    <div class="container">

        <h1 class="mb-4">Summarize</h1>

      <form action="{{ url_for('summary')}}" method="post">
        <div class="form-group">
          <label for="text">Text Here</label>
          <textarea required name="Text" id="text" onkeyup="autoheight(this)" class="form-control"></textarea>

        </div>
          <input button class="btn btn-primary" type="submit">
      </form>
    </div>

<script>
  function autoheight(x) {
    x.style.height = "5px";
    x.style.height = (15+x.scrollHeight)+"px";
  }
</script>
</body>
</html>